* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
    /* height: 3500px; */
}

.w {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    /* background-color:pink; */
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: #ffffff;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav li {
    float: left;
    margin: 0 15px;
}

.nav li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: #646566;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    height: 42px;
    width: 50px;
    border: 0;
    background: url("images/search.png");
}

.user {
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    
}

.user>img {
    vertical-align: middle;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner.png) no-repeat top center;
    background-color: pink;
}


.subnav {
    float: left;
    height: 421px;
    width: 190px;
    background: rgba(0,0,0, 0.3);
}

.subnav ul li  {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: white;
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #9bceea;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    border-bottom: 1px solid #cccccc;
    padding: 14px 0;
    
}

.bd ul li h4 {
    font-size: 14px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    margin-top: 5px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
    text-align: center;
    border: 1px solid #00a4ff;;
}

.goods {
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.3);
}

.goods h3 {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    color: #00a4ff;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    font-size: 16px;
    padding: 0 30px;
    color:  #050505;
    border-left: 1px solid #cccccc;
}

.goods ul li a:hover{
    color: #00a4ff;
}

.mod {
    display: block;
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
   
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.box-hd a{
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}
.box-bd ul{
    width: 1225px;
}
.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}
.box-bd ul li>img {
    width: 100%;
}

.box-bd ul li em{
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color:  #050505;
}
.box-bd ul li .info {
    margin: 0px 20px 0px 25px;
    font-size: 12px;
    color: #999;
}
.box-bd ul li span {
    color: #ff7c2d;
}

/* .clearfix::after{
    content: "";
    display: block;
    visibility: visible;
    clear: both;
    height: 0;
} */

.clearfix::before , .clearfix::after {
   display: table;
   content: "";
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
.footer {
    height: 415px;
    background-color: #ffffff;
}
.footer-bd {
    padding-top: 35px;
}
.copyright {
    float: left;
}
.copyright p {
    font-size: 16px;
    margin: 20px 0 15px 0;
}
.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    font-size: 16px;
    text-align: center;
    line-height: 33px;
    border: 1px solid #00a4ff;
}
.links {
    float: right;
}
.links dl {
    float: left;
    padding: 0 50px;
}
.links dl dt {
    margin-bottom: 15px;
    color: #333333;
    font-size: 18px;
}
.links dl dd {
    font-size: 14px;
}